.toggle-section {
  overflow: hidden;

  .image-container {
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }

  .point-of-interest {
    clear: both;
  }

  .selected-area {
    float: left;
    width: 70%;

    @media @mobile {
      width: 100%;
    }

    .point-of-interest {
      h4, p {
        transition: opacity .5s linear;
      }

      &.faded h4, &.faded p {
        opacity: 0.01;
      }

    }

    .image-container {
      z-index: 999;
    }
  }

  .on-deck {
    float: right;
    width: 20%;
    position: relative;

    @media @mobile {
      float: none;
      width: 100%;
      border-bottom: 1px solid @df-light-gray;
      overflow: hidden;
      .display-flex();
      .align-items(center);
      padding-top: 30px;
    }

    &::before {
      // position: absolute;
      content: "Click to read:";
      font-family: @df-sans;
      text-align: center;
      display: block;
      color: @df-dark-gray;
      font-size: 13px;
      // font-weight: bold;
      margin: 0;

      @media @mobile {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .image-container {
      box-shadow: none;
      border-radius: 0;
    }

    .point-of-interest {
      margin-bottom: 20px;
      transition: opacity .5s linear .5s;
      &.faded {
        opacity: 0.01;
      }
    }

    h4 {
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      margin: 0;

      @media @mobile {
        display: none;
      }
    }

    p {
      display: none;
    }
  }
}