header.splash {
  position: relative;
  margin-bottom: 40px;

  video, canvas {
    width: 100%;
    display: block;
  }

  h1 {
    display: block;
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 48px;
    text-shadow: 0 4px 8px fade(black, 40%), 0 0 2px fade(black, 60%);
  }
}