.mouth.river-zone {

  .mouth-cutaway {
    margin-bottom: 20px;
    .aspect-inner {
      padding-bottom: percentage(439 / 1200);
    }
  }

  .mouth-fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    transform-origin: top;
    overflow: hidden;

    &::after {
      position: absolute;
      left: 30px;
      bottom: 10px;
      content: "Before dam removal";
      // text-transform: uppercase;
      color: @df-middle-gray;
      font-size: 48px;
      // font-family: @df-sans;
    }
    
    img {
      display: block;
    }

    img.before {
      transition: box-shadow .6s ease-in-out;
      box-shadow: 0 8px 8px fade(black, 10%);
    }

    &.stuck img.before {
      box-shadow: 0 8px 16px fade(black, 20%);
    }

    img.after {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.01;
      transition: opacity .5s linear;
      .transform(translateZ(0));
    }

    &.activate {
      &::after {
        content: "After dam removal";
      }

      img.after {
        opacity: 1;
      }
    }
  }
}
