body {
  // background-image: radial-gradient(white, lighten(desaturate(tan, 20%), 20%));
  // background-size: cover;
  // background-position: fixed;
  font-size: 17px;
}

.constrained {
  max-width: 600px;
  margin: 0 auto;

  @media @tablet {
    padding: 0 8px;
  }
}

.byline {
  font-family: @df-sans;
  color: @df-blue;
}

h2 {
  background: @elwhaGreen;
  color: white;
  padding: 40px;
  text-align: center;
  display: block;
  clear: both;
}

.slider-container {
  padding: 20px 0;
  border-top: 1px solid @df-light-gray;
  border-bottom: 1px solid @df-light-gray;
  margin: 40px 0;

  image-slider {
    margin: auto;
    display: block;
  }

  .caption {
    font-size: 14px;
    font-family: @df-sans;
    padding-top: 10px;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.section-header {
  position: relative;
  width: 100%;
  margin-bottom: 40px;

  h2 {
    position: absolute;
    width: 100%;
    top: 50%;
    .transform(translateY(-50%));
    margin: 0;
    padding: 0;
    left: 0;
    text-align: center;
    z-index: 999;
    background: transparent;
    text-shadow: 0 4px 4px black;
    font-size: 60px;
    font-style: italic;

    @media @mobile {
      font-size: 36px;
      line-height: 1.2;
      padding: 0 20px;
    }
  }

  img {
    width: 100%;
  }
}

.point-of-interest {
  clear: right;

  h4 {
    margin-bottom: 0;
    font-size: 18px;
  }

  p {
    margin-top: 0;
  }

  .image-container {
    float: right;
    width: 40%;
    margin: 0 20px 20px;
    box-shadow: 4px 8px 16px fade(@elwhaGreen, 10%);
    border-radius: 30px 0;
    border: 10px solid white;
    overflow: hidden;
    .transform(rotate(4deg));

    @media @mobile {
      width: 100%;
      float: none;
      .transform(rotate(0));
      margin: 20px 0;
      border-radius: 0;
      box-shadow: 0 8px 16px fade(@elwhaGreen, 10%);
    }
  }

  .content {
    width: 70%;
  }

}