.constrained {
  max-width: 800px;
  margin: 0 auto;
}

.byline {
  font-family: @df-sans;
  color: @df-blue;
  padding-top: 20px;
}

h2 {
  background: @elwhaGreen;
  color: white;
  padding: 40px;
  text-align: center;
  display: block;
  clear: both;
}

.slider-container {
  background: desaturate(lighten(@elwhaGreen, 30%), 20%);
  padding: 20px;
  border-radius: 20px;

  image-slider {
    max-width: 500px;
    margin: auto;
    display: block;
  }

  .caption {
    font-size: 14px;
    font-family: @df-sans;
    padding-top: 20px;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.point-of-interest {
  .image-container {
    max-width: 400px;
    float: right;
    clear: right;
    margin-left: 20px;
    z-index: -1;
    .transform(rotate(7deg));
  }

  &:nth-child(2n) .image-container {
    float: left;
    margin-right: 20px;
    .transform(rotate(-7deg));
  }
}