@import "seattletimes";

@elwhaGreen: #326252;

.transform(...) {
  -webkit-transform: @arguments;
  transform: @arguments;
}

@import "header";
@import "sticky";
@import "wash";
@import "upper";
@import "logs";
@import "middle";
@import "lower";
@import "mouth";

.constrained {
  max-width: 800px;
  margin: auto;
}

h2 {
  background: @elwhaGreen;
  color: white;
  padding: 40px;
  text-align: center;
  display: block;
}

.slider-container {
  background: desaturate(lighten(@elwhaGreen, 30%), 20%);
  padding: 20px;
  border-radius: 20px;

  image-slider {
    max-width: 500px;
    margin: auto;
    display: block;
  }

  .caption {
    font-size: 14px;
    font-family: @df-sans;
    padding-top: 20px;
  }

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.point-of-interest {
  .image-container {
    width: 400px;
  }
}