<div class="fixed-placeholder logjam-scenery">
  <div class="aspect-inner">
    <div class="sliding-scene" data-zone="first">
      <img src="./assets/scenes/UpperRiverC_1200x612.jpg">
      <div class="before"></div>
      <div class="after"></div>
    </div>
  </div>
</div>

<div class="stages constrained">

  <div class="log-stage" data-zone="upright">
    <h3>Upright trees fall over</h3>
  </div>

  <div class="log-stage" data-zone="falling">
    <h3>Falling trees form logjams</h3>
    <%= t.include("_wash.html", { url: "scenes/UpperRiverLogJam$_800x346.jpg" }) %>
    <aside class="point-of-interest">
      <h4>NEW LOG JAMS CREATE PRIME FISH REAL ESTATE</h4>
      <p>What used to be Lake Aldwell is a now a broad flood plain the river winds through, carrying logs  and gnawing trees from its banks  as it goes. These stack up and jam, creating a braided river channel  as the river flows around them. Fish hide  in the  shady cover of the logs and lurk  in  plunge pools dug by the river  pouring over the  logs. The  river also is creating new  side channels fish use for spawning and rearing – a good thing because some of the old side channels filled in with sediment released by  dam removal. 
    </aside>
  </div>

  <div class="log-stage" data-zone="island">
    <h3>Islands piled with logs divide the streams</h3>
    <%= t.include("_wash.html", { url: "scenes/UpperRiverIsland$_800x276.jpg" }) %>
    <aside class="point-of-interest">
      <h4>LOGS BECOME HOMES</h4>
      <%= t.include("_wash.html", { url: "animals/DeerMouse$_800x413.jpg" }) %>
      <p>Logs on the banks and former reservoir beds have become islands of biodiversity. The logs create shelter for seeds to sprout, birds to perch, and a menagerie of small mammals to hide. 
      <p>The birds bring more seeds and fertilizer; the plants create soil, and the small mammals are bioengineers in their own quiet way. They cache seeds that sprout, leave manure that feeds new ground, and in their forays feed the animals that eat them. 
    </aside>
  </div>

</div>