<div class="log-stage constrained" data-zone="upright">
  <h3><%= headers.helicoptering %></h3>
  <p><%= text.helicoptering %>
</div>

<%= t.include("_wash.html", { url: "scenes/UpperRiver$_1200x612.jpg" }) %>

<div class="log-stage constrained" data-zone="falling">
  <aside class="point-of-interest">
    <h4><%= headers.logjams %></h4>
    <p><%= text.logjams %>
  </aside>
</div>

<div class="log-stage constrained" data-zone="island">
  <aside class="point-of-interest">
    <h4><%= headers.islands %></h4>
    <%= t.include("_wash.html", { url: "animals/DeerMouse$_800x413.jpg" }) %>
    <p><%= text.islands %>
  </aside>
</div>