<div class="constrained">

  <p>
    <%= text.lower_chatter %>

  <aside class="point-of-interest">
    <h4><%= headers.eagles %></h4>
    <%= t.include("_wash.html", { url: "animals/Eagle$_800x876.jpg" }) %>
    <p><%= text.eagles %></p>
  </aside>


  <aside class="point-of-interest">
    <h4><%= headers.dippers %></h4>
    <%= t.include("_wash.html", { url: "animals/AmericanDipper$_800x450.jpg" }) %>
    <p><%= text.dippers %></p>
  </aside>

  <aside class="point-of-interest">
    <h4><%= headers.invertebrates %></h4>
    <p><%= text.invertebrates %></p>
  </aside>


</div>