<div class="constrained featuring">
  <p>
    <%= text.middle_chatter %>

  <div class="selected-area">
  
    <aside class="point-of-interest">
      <%= t.include("_delayWash.html", { url: "animals/Kokanee$_800x305.jpg" }) %>
      <h4><%= headers.salmon %></h4>
      <p><%= text.salmon %></p>
    </aside>

  </div>

  <div class="on-deck">

    <aside class="point-of-interest">
      <%= t.include("_delayWash.html", { url: "animals/Beaver$_800x414.jpg" }) %>
      <h4><%= headers.beavers %></h4>
      <p><%= text.beavers %></p>
    </aside>

    <aside class="point-of-interest">
      <%= t.include("_delayWash.html", { url: "animals/RooseveltElk$_800x819.jpg" }) %>
      <h4><%= headers.elk %></h4>
      <p><%= text.elk %></p>
    </aside>

  </div>

</div>