<div class="constrained">
  <p>
    The middle  river  was the  realm between  the upper  dam, Glines  Canyon, and Elwha Dam, the lower  of the two at 108 ten feet tall. No ocean-going fish lived here between the two dams for more than a century. Animals that feed on those fish were starved for nutrients from salmon. The river lacked the structure of gravel, sediment, and big wood that an un-dammed river would have conveyed from the upper watershed and its banks. 
  
  <aside class="point-of-interest">
    <h4>Back and busy: salmon</h4>
    <%= t.include("_wash.html", { url: "animals/Kokanee$_800x305.jpg" }) %>
    <p>The middle Elwha and its tributaries went from no Coho at all before dam removal, to producing about 32,000 outgoing salmon fry in 2014. Chinook redd counts are up more than 350 percent and steelhead 300 percent from 2013 to 2015. Even sockeye have been spotted in Indian Creek, perhaps from landlocked Kokanee in Lake Sutherland, that have rediscovered their ability to go to sea.
  </aside>

  <aside class="point-of-interest">
    <h4>Beaver are engineering a comeback</h4>
    <%= t.include("_wash.html", { url: "animals/Beaver$_800x414.jpg" }) %>
    <p>The reservoirs have drained away, exposing 330 acres of exposed silt, sand and gravel of the former Lake Aldwell, and about 400 acres at the former Lake Mills. Tracks of animals are often seen as animals return where their used to be lakes, including beaver, now back in both areas. They’ve got plenty to chew on: a new forest is rising in the fine sediments along the former lake shores, with alder, willow and cottonwood grown more than 8 feet high.
  </aside>

  <aside class="point-of-interest">
    <h4>Visiting their winter range: elk</h4>
    <%= t.include("_wash.html", { url: "animals/RooseveltElk$_800x819.jpg" }) %>
    <p>Roosevelt elk are visiting both former lakebeds. Biologists are a little surprised – and relieved that elk are browsing but not devouring more than 260,000 plantings including tasty woody shrubs put in the lakebeds as part of a seven year revegetation plan to crowd out weeds.  They seem to particularly fancy Nootka rose, big leaf maple and bitter cherry.
  </aside>

</div>