<div class="fixed-placeholder mouth-cutaway">
  <div class="aspect-inner">
    <div class="mouth-fade" sticky="section.mouth.river-zone" scroll-class="activate" scroll-trigger=".mouth .after-deluge">
      <img class="before" src="./assets/scenes/RiverMouthBeforeC_1200x439.jpg">
      <img class="after" src="./assets/scenes/RiverMouthAfterC_1200x439.jpg">
    </div>
  </div>
</div>

<div class="before-deluge constrained">

  <p>
    Among the most dramatic changes in the watershed is playing out at the river mouth and near shore, where scientists are startled by the speed of the revolution underway. Once freed the river quickly chewed through some 27 million cubic yards of sediment that had been trapped behind the dams. Getting most of the sediment out completes the first major milestone of Elwha Dam removal. Restoring the flow of sediment is also rebuilding and restoring the beach at the river mouth and nearshore to a more natural condition. Now plants and animals there before the dams are coming back, too.

  <aside class="point-of-interest">
    <h4>Dams in place: the vegetation</h4>
    <p>The beach where the river flowed into the Strait of Juan de Fuca was steeply sloped and covered with ankle-turning cobble, starved for sand locked up behind the dams. Offshore, lush kelp forests grew abundantly in the nearshore waters – 15 species in all. The kelp roots grabbed onto the cobbled bottom. Green and red algae also thrived. 
  </aside>


  <aside class="point-of-interest">
    <h4>Hermit crabs</h4>
    <%= t.include("_wash.html", { url: "animals/HermitCrab$_800x558.jpg" }) %>
    <p>Winners and losers are created in a big, quick habitat do-over, such as a rocky bottom changing in less than four years to a sandy one. Hermit crab were abundant in the near shore, snugged in the tiny spaces between the rocks. They got buried as the dams came down, and the Elwha transported about two thirds of 100 years’ of sediment penned behind the dams, all the way from the mountains to the sea. 
  </aside>

  <aside class="point-of-interest">
    <h4>Starfish</h4>
    <%= t.include("_wash.html", { url: "animals/SeaStar$_800x687.jpg" }) %>
    <p>Once abundant on the rocky bottom, sea stars were already hit by sea star wasting syndrome and now are rare in the nearshore, with no habitat for a comeback. Sunlight loving green and brown algae died as the sediment plume flushed out on the prevailing current running east of the river mouth clouded the water. Kelp that loved the bare rocky substrate disappeared east of the river   mouth  too in a spectacular kelpocalypse.
  </aside>

  <aside class="point-of-interest">
    <h4>Sea urchins</h4>
    <%= t.include("_wash.html", { url: "animals/SeaUrchin$_800x745.jpg" }) %>
    <p>Urchins are at home on rocky shores and kelp beds where they graze on algae. These spiny denizens were displaced by the re-set of the near shore to sand. Their habitat disappeared along with their food source. Lots of animals were put out of work in the near shore as the deluge of sediment piled up on their habitat.
  </aside>

</div>

<div class="after-deluge constrained">
  
  <p>
    Unplugging the Elwha birthed Washington’s newest beach. The Elwha built it grain by grain, by moving a massive load of sediment from behind the dams.  Winds, tides, and the prevailing current in the Strait of Juan de Fuca carried the sediment mostly east of the river mouth. The sand built up on the beach and piled up in drifts more than 15 feet deep on the bottom of the nearshore, below the tide line.

  <aside class="point-of-interest">
    <h4>FORAGE FISH</h4>
    <p>Sardines, anchovies, sand lance, eulachon, shad, surf smelt, herring and even fresh-water red-sided shiners, probably from Lake Sutherland, are showing up in the near shore in numbers not seen in years if ever. Forage fish fatten up bigger species of fish, including salmon. Ducks, eagles, and other birds also feast on them. 
  </aside>

  <aside class="point-of-interest">
    <h4>DUNGENESS CRAB</h4>
    <%= t.include("_wash.html", { url: "animals/DungenessCrab$_800x412.jpg" }) %>
    <p>These tasty bottom feeders are cruising the sandy bottom of the near shore. Still not yet shown up – but greatly anticipated -- are clams. Elwha Klallam tribal elders speak fondly of the clams their elders used to gather at the beach before the dams were built. Some used to head to the beach after a winter storm, cued by great clouds of gulls gathering to feast, too. 
  </aside>

  <aside class="point-of-interest">
    <h4>SHRIMP…and MORE</h4>
    <%= t.include("_wash.html", { url: "animals/Shrimp$_800x606.jpg" }) %>
    <p>Biologists netting nearshore waters are finding all kinds of animals, including shrimp as the environment has transformed from a closed system, to an open one. Since dam removal shrimp are showing up for the first time in biologist’s sampling nets. Other newcomers include a huge increase in night smelt, never seen in the region before. Even adult chum salmon are turning up in the nearshore.
  </aside>

</div>