<div class="text constrained">
  Lake Mills used to pool here behind the 210-foot high dam, built in 1927 to produce more hydropower. The biggest buildup of sediment was here, behind the uppermost of the two dams. There were no ocean-going fish above this barrier for at least a century. Only resident fish, such as rainbow trout, were seen here. Two dams blocked 90 percent of salmon habitat in the river. 

  <aside class="point-of-interest">
    <h4>Chinook salmon</h4>
    <%= t.include("_wash.html", { url: "animals/Chinook$_800x307.jpg" }) %>
    <p>The biggest salmon in the river and unique in Puget Sound, Elwha chinook cruised right past the former Glines Canyon dam site just three days after it was blown out of their way. Three weeks later, they made it all the way to Elkhorn, muscling through the Goblin Gate and the Grand Canyon of the Elwha, to the river’s headwaters at the feet of Mount Olympus. More blasting planned this year to take out one last rock pile at the former Glines Canyon Dam   site   is expected to help more chinook reach the upper river. 
  </aside>
   
  <aside class="point-of-interest">
    <h4>Rainbow trout go to sea</h4>
    <%= t.include("_wash.html", { url: "animals/RainbowTrout$_800x293.jpg" }) %>
    <p>Locked up like jewels in a box behind the dam, rainbow trout native to the Elwha are once again going to sea as steelhead. That means the Elwha  is being recolonized not only by  adult fish entering the lower river, but a cascade of out-migrating rainbows going to sea again as steelhead.
  </aside>
  
  <aside class="point-of-interest">
    <h4>Big action from small mammals: mice</h4>
    <%= t.include("_wash.html", { url: "animals/JumpingMouse$_800x397.jpg" }) %>
    <p>An eat or be eaten drama is revving up on the Elwha, where new life means more food, which in turns brings more species, and so on, and on. Shrews, voles, wood rats, jumping mice, Townsend’s mice, deer  mice, ermine and chipmunks have  all been  documented in  the  Elwha on the former reservoir lakebeds.  
  </aside>  

  <aside class="point-of-interest">
    <h4>A spotted sandpiper bonanza</h4>
    <%= t.include("_wash.html", { url: "animals/SandPiperSpotted$_800x524.jpg" }) %>
    <p>The swans that used to float in the still waters of Lake Mills have been replaced by skittering sandpipers flocking to the sandy shores exposed along the river and silt of the former lakebeds. Scientists are surprised at how quickly the whole Elwha river system is rebounding, from headwaters to mouth, on land and in the water. “The big picture is all this biodiversity,” said Rebecca McCaffery with the US Geological Survey. “I’m out there catching mice scurrying around, and watching the salmon come up the river. It’s such a dynamic environment.”
  </aside>

</div>