<div class="text constrained featuring">
  <%= text.upper_chatter %> 

  <div class="selected-area">

    <aside class="point-of-interest">
      <%= t.include("_delayWash.html", { url: "animals/Chinook$_800x307.jpg" }) %>
      <h4><%= headers.chinook %></h4>
      <p><%= text.chinook %></p>
    </aside>

  </div>
   
  <div class="on-deck">

    <aside class="point-of-interest">
      <%= t.include("_delayWash.html", { url: "animals/RainbowTrout$_800x293.jpg" }) %>
      <h4><%= headers.rainbow_trout %></h4>
      <p><%= text.rainbow_trout %></p>
    </aside>
    
    <aside class="point-of-interest">
      <%= t.include("_delayWash.html", { url: "animals/CreepingVole$_800x596.jpg" }) %>
      <h4><%= headers.mice %></h4>
      <p><%= text.mice %></p>
    </aside>  

    <aside class="point-of-interest">
      <%= t.include("_delayWash.html", { url: "animals/SandPiperSpotted$_800x524.jpg" }) %>
      <h4><%= headers.sandpipers %></h4>
      <p><%= text.sandpipers %>
    </aside>

  </div>

</div>