<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <header class="splash">
      <div class="aerial-video">
        <video autoplay poster="./assets/video/poster.jpg" loop>
          <source src="./assets/video/large.mp4" type="video/mp4">
        </video>
      </div>
      <h1>Elwha: Après nous le déluge</h1>

    </header>

    <main>

      <section class="upper river-zone">
        <%= t.include("_upper.html") %>        
      </section>

      <section class="middle river-zone">
        <%= t.include("_middle.html") %>
      </section>

      <section class="lower river-zone">
        <%= t.include("_lower.html") %>
      </section>

    </main>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
