<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <header class="splash">
      <video autoplay poster="./assets/video/poster.jpg" loop>
        <source src="./assets/video/small.mp4" type="video/mp4">
      </video>
      <h1>Elwha: Après nous le déluge</h1>

    </header>

    <main>

      <section class="upper river-zone">

        <%= t.include("_wash.html", { url: "animals/CreepingVole$_800x596.jpg" }) %>
        <div class="eagle">
          <%= t.include("_wash.html", { url: "animals/Eagle$_800x876.jpg" }) %>
        </div>
      </section>

      <section class="middle river-zone">
        <%= t.include("_wash.html", { url: "animals/HermitCrab$_800x558.jpg" }) %>
      </section>

      <section class="mouth river-zone">
        <div class="fixed-placeholder upper-cutaway">
          <div class="aspect-inner">
            <div class="mouth-fade" sticky="section.mouth.river-zone" scroll-class="activate" scroll-trigger=".eagle">
              <img class="before" src="./assets/scenes/RiverMouthBeforeC_1200x439.jpg">
              <img class="after" src="./assets/scenes/RiverMouthAfterC_1200x439.jpg">
            </div>
          </div>
        </div>

        <%= t.include("_wash.html", { url: "animals/DungenessCrab$_800x412.jpg" }) %>
      </section>

    </main>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
