<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>
    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="splash">
      <div class="aerial-video">
        <video autoplay poster="./assets/video/poster.jpg" loop>
          <source src="./assets/video/large.mp4" type="video/mp4">
        </video>
      </div>
      <h1>Elwha: Roaring back to life</h1>
    </header>

    <main>

      <div class="byline constrained">
        By Lynda V. Mapes<br>
        Seattle Times environment reporter
      </div>

      <div class="byline constrained">
        Photos and video by Steve Ringman<br>
        Seattle Times staff photographer
      </div>

      <section class="intro constrained">
        <div class="map-container">
          <img src="./assets/scenes/elwhaMap.jpg" class="map">
        </div>
        <%= markdown.intro %>
      </section>

      <nav class="jump-navigation">
        <hr class="divider constrained">
        <h2>Explore the Elwha</h2>
        <ul class="jump-links">
          <li><a href="#upper">Upper river</a>
          <li><a href="#logs">Big wood on the move</a>
          <li><a href="#middle">Middle river</a>
          <li><a href="#lower">Lower river's resurgence</a>
          <li><a href="#mouth">At the mouth of the Elwha</a>
        </ul>
      </nav>

      <div class="section-header" id="upper">
        <div class="splash-container">
          <h2>Upper river</h2>
          <img src="./assets/photos/Elwha_Glines.jpg" class="full-width">
        </div>
      </div>
      <section class="upper river-zone">
        <%= t.include("_upper.html") %>        
      </section>

      <div class="section-header" id="logs">
        <div class="splash-container">
          <h2>Big wood on the move</h2>
          <img src="./assets/photos/logs.jpg" class="full-width">
        </div>
      </div>
      <section class="log-debris river-zone">
        <%= t.include("_logs.html") %>
      </section>

      <div class="section-header" id="middle">
        <div class="splash-container">
          <h2>Middle river</h2>
          <img src="./assets/photos/elwhadippers18.jpg" class="full-width">
        </div>
      </div>
      <section class="middle river-zone">
        <%= t.include("_middle.html") %>
      </section>

      <div class="section-header" id="lower">
        <div class="splash-container">
          <h2>Lower river's resurgence</h2>
          <img src="./assets/photos/Elwha_Salmon.jpg" class="full-width">
          <div class="caption">
            In this 2010 photo adult Chinook salmon are blocked in their journey upriver by Elwha Dam, built five miles from the river mouth with no fish passage. Even after 100 years they persisted, circling at the face of the dam every spawning season, trying to get upstream.
          </div>
        </div>
      </div>
      <section class="lower river-zone">
        <%= t.include("_lower.html") %>
      </section>

      <div class="section-header" id="mouth">
        <div class="splash-container">
          <h2>At the mouth of the Elwha</h2>
          <img src="./assets/photos/riverMouth.jpg" class="full-width">
        </div>
      </div>
      <section class="mouth river-zone">
        <%= t.include("_mouth.html") %>
      </section>

      <div class="contact-info constrained">
        <p>Originally published February 13, 2016

        <p>Lynda V. Mapes: 206-464-2515 or <a href="mailto:lmapes@seattletimes.com">lmapes@seattletimes.com</a>
      </div>

    </main>

    <footer>
      
      <div class="sources constrained">
        <p>Contributing to this report were scientists convened for the 2015 Elwha River Science Symposium at the Olympic National Park campus of NatureBridge.

        <p>Particularly helpful were experts from the USGS, NOAA Fisheries, Washington State Department of Natural Resources, the Lower Elwha Klallam Tribe, National Park Service, Washington Sea Grant, US Fish and Wildlife Service and Coastal Watershed Institute.
      </div>

      <div class="nerdbox constrained">

        <ul class="credits">
          <li> <b>Reporting</b>: Lynda Mapes
          <li> <b>Photos</b>: Steve Ringman
          <li> <b>Development</b>: Thomas Wilburn
          <li> <b>Graphics and illustration</b>: Mark Nowlin, Kelly Shea
          <li> <b>Page design</b>: Frank Mina
        </ul>

        <div class="subscribe-box">
          Did you find this story valuable? Support local journalism at The Seattle Times by subscribing.

          <div class="button-box">
            <img src="./assets/seattletimes.svg">
            <a href="http://www.seattletimes.com/subscribe/signup/?icn=promo-project&ici=subscribe" class="subscribe-button">SUBSCRIBE</a>
          </div>
        </div>

      </div>

      <div class="copyright">&copy; 2016 The Seattle Times</div>
    </footer>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
